<footer class="site-footer">
	<div class="container-sm">
	  <div class="row">
		<div class="col-sm-12 col-md-6">
		  <h6>Adresse</h6>
		  <p class="text-justify">6-8 Avenue de la Gaude, 06800 Cagnes-sur-Mer</p>
		  <h6>Email</h6>
		  <p class="text-justify">beautydesignerbyanais@gmail.com</p>
		  <h6>Téléphone</h6>
		  <p class="text-justify">07-84-97-49-10</p>
		</div>

		<div class="col-xs-6 col-md-3">
		  <h6>Categories</h6>
		  <ul class="footer-links">
			<li><a href="{{ path('app_home') }}">Accueil</a></li>
			<li><a href="{{ path('app_prestation') }}">Prestations</a></li>
			<li><a href="{{ path('products') }}">Nos produits</a></li>
			<li><a href="{{ path('app_blog') }}">Blog</a></li>
			<li><a href="{{ path('app_gallerie') }}">Gallerie</a></li>
			<li><a href="{{ path('app_rendez_vous') }}">Contact</a></li>
			<li><a href="{{ path('app_messages') }}">Messagerie</a></li>
			<li><a href="{{ path('app_login') }}">Connexion</a></li>
			<li><a href="{{ path('register') }}">Inscription</a></li>
			<li><a href="{{ path('cart') }}">Panier</a></li>
			
		  </ul>
		</div>

		<div class="col-xs-6 col-md-3">
		  <h6>Horaires</h6>
		  <ul class="footer-links">
			<li>✅Lundi : 8h - 18h</li>
			<li>✅Mardi : 8h - 18h</li>
			<li>✅Mercredi : 8h - 18h</li>
			<li>✅Jeudi : 8h - 18h</li>
			<li>✅Vendredi : 8h - 18h</li>
			<li>✅Samedi : 8h - 12h</li>
			<li>❌Dimanche : Fermé</li>
		  </ul>
		</div>
	  </div>
	  <hr>
	</div>
	<div class="container">
	  <div class="row">
		<div class="col-md-8 col-sm-6 col-xs-12">
		  <p class="copyright-text">Copyright 2022 Beauty Designer By Anais 
		  </p>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
		  <ul class="social-icons">
			<li><a class="facebook" href="#"><img src="/images/facebook.svg" alt="facebook logo"></a></li>
			<li><a class="instagram" href="#"><img src="/images/Instagram.svg" alt="instagram logo"></a></li>   
		  </ul>
		</div>
	  </div>
	</div>
</footer>