<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
        <link rel="icon" href="images/nail-polish.png">
        
        
        {% block stylesheets %}{% endblock %}
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/calendar.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/gallerie.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/inscription.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/connexion.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/compte.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/produits.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/rendez-vous.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/nos-prestations.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/panier.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/adresse.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/commande.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/messagerie.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/blog.css') }}">
        {% block javascripts %}{% endblock %}
        <!-- JavaScript Bundle with Popper -->
        <script src="{{ asset('/js/script.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js" integrity="sha256-sR+oJaZ3c0FHR6+kKaX1zeXReUGbzuNI8QTKpGHE0sg=" crossorigin="anonymous"></script>
    </head>
    <body>
        
        {% include ('partials/navbar.html.twig') %}
        
        
        
        {% block body %}
        {% endblock %}

        
        {% include ('partials/footer.html.twig') %}
        
    </body>
  
        
</html>